.service{
	padding:50px 0px;
	background color:#f6f6f6;
}

.parent{
	position:relative;
}

.child{
position:absolute;
bottom:-140px;
	
}
.feature{
	padding:50px 0px;
	backgroun color:#28282e;
}
.span{
	border-bottom: 1px solid #161616;
	padding:1px;
	width:7%;
	display:block;
}s
